<div class="panel {{ panelClass }}">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-4">
                <i class="fa {{ faicon }} fa-5x"></i>
            </div>
            <div class="col-xs-8 text-right">
                <p class="announcement-heading" ng-bind="stats.value">456</p>

                <p class="announcement-text" ng-bind="stats.name">Github commits</p>
            </div>
        </div>
    </div>
    <a href="#">
        <div class="panel-footer announcement-bottom">
            <div class="row">
                <div class="col-xs-9">
                    View Mentions
                </div>
                <div class="col-xs-3 text-right">
                    <i class="fa fa-arrow-circle-right"></i>
                </div>
            </div>
        </div>
    </a>
</div>