<div class="row">
    <div class="col-lg-12">
        <h1>CV
            <small>Working experience</small>
        </h1>
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            Visit <a class="alert-link" target="_blank" href="http://getbootstrap.com/css/#forms">Bootstrap's Form
            Documentation</a> for more information.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1>Stats</h1>
    </div>
</div>