<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active"><a data-ui-sref='parent'><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a data-ui-sref='stats'><i class="fa fa-bar-chart-o"></i> CV</a></li>
        <li><a data-ui-sref='projects'><i class="fa fa-table"></i> Projects</a></li>
        <li><a data-ui-sref='contacts'><i class="fa fa-edit"></i> Contact</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i>
                Social activity <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Github</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Google+</a></li>
                <li><a href="#">Bitbucket</a></li>
            </ul>
        </li>
    </ul>

    <top-header-controls></top-header-controls>
</div>
